<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService1" />
                <binding name="WSDualHttpBinding_TestName" />
                <binding name="WSDualHttpBinding_ITestNameNamespace" />
                <binding name="WSDualHttpBinding_ITestConfigurationName" />
                <binding name="WSDualHttpBinding_ITestCallbackContract" />
                <binding name="WSDualHttpBinding_ITestSessionMode" />
                <binding name="WSDualHttpBinding_ITestProtectionLevel" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/IService1"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IService1"
                contract="ServiceReference.IService1" name="WSDualHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/IService2"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_TestName"
                contract="ServiceReference.TestName" name="WSDualHttpBinding_TestName">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/ITestNameNamespace"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITestNameNamespace"
                contract="ServiceReference.ITestNameNamespace" name="WSDualHttpBinding_ITestNameNamespace">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/ITestConfigurationName"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITestConfigurationName"
                contract="ServiceReference.ITestConfigurationName" name="WSDualHttpBinding_ITestConfigurationName">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/ITestCallbackContract"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITestCallbackContract"
                contract="ServiceReference.ITestCallbackContract" name="WSDualHttpBinding_ITestCallbackContract">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/ITestSessionMode"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITestSessionMode"
                contract="ServiceReference.ITestSessionMode" name="WSDualHttpBinding_ITestSessionMode">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WcfDemo/OperationContract/ITestProtectionLevel"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITestProtectionLevel"
                contract="ServiceReference.ITestProtectionLevel" name="WSDualHttpBinding_ITestProtectionLevel">
                <identity>
                    <userPrincipalName value="DESKTOP-4TF2H7P\Y-bao" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>